<%- include('./partials/head') %>

<header>
  <nav>
    <img class="logo" src="/9919.png" />

    <form method="get" action="/">
      <input type="text" class="search" name="name" />
      <input type="submit" value="search" />

      <input type="radio" id="squadpage-a" name="squad" value="squad-a-2022" />

      <label for="squadpage-a">Squad A</label><br />

      <input type="radio" id="squadpage-b" name="squad" value="squad-b-2022" />
      <label for="squadpage-b">Squad B</label><br />

      <input type="radio" id="squadpage-c" name="squad" value="squat-c-2022" />

      <label for="squadpage-c">Squad C</label>
    </form>
  </nav>
</header>

<main>
  <section>
    <div class="solar-syst">
      <div class="sun"></div>
      <div class="mercury"></div>
      <div class="venus"></div>
      <div class="earth"></div>
      <div class="mars"></div>
      <div class="jupiter"></div>
      <div class="saturn"></div>
      <div class="uranus"></div>
      <div class="neptune"></div>
      <div class="pluto"></div>
      <div class="asteroids-belt"></div>
    </div>
    <!-- Hier komen de members -->
    <h3>Pinned</h3>
    <% squad.members.forEach(member => { %>
    <!--van elk member info uit JSON file halen-->
    <article>
      <a href="/members?member=<%= member.id %>">
        <!--met member id code alle info verzamelen-->
        <% if (member.avatar) { %>
        <!--Avatar vanuit Json file halen-->
        <img
          src="<%= member.avatar %>"
          alt="De avatar van <%= member.name %>"
        />
        <% }else{ %>
        <!-- geen avatar dan een placeholder avatar image gebruiken-->
        <img src="/astro-mona.jpeg" alt="Placeholder avatar" />
        <% } %>

        <h2><%= member.name %> <%= member.prefix %> <%= member.surname %></h2>
        <!--member naam prefix en surname uit json file roepen-->
      </a>
    </article>
    <% }) %>
  </section>

  <img class="contributions" src="/Screenshot 2023-02-16 at 12.17.26.png" />
</main>

<%- include('./partials/foot') %>
