<%- include('./partials/head') %>

<header>
  <nav>
    <img class="logo" src="/9919.png" />
    <form>
      <input type="text" />
      <input type="submit" valeu="zoeken!" />
    </form>

    <div id="achtergrond"></div>

    <a href="/?squad=squad-a-2022">Squad A</a>
    <a href="/?squad=squad-b-2022">Squad B</a>
    <a href="/?squad=squat-c-2022">Squad C</a>
  </nav>
</header>
<main>
  <!-- <h1><%= squad.name %></h1> -->

  <!-- <a href="/?squad=<%= squad.slug %>&orderBy=name">Sorteer op naam</a> -->
  <hr />

  <section>
    <div class="solar-syst">
      <div class="sun"></div>
      <div class="mercury"></div>
      <div class="venus"></div>
      <div class="earth"></div>
      <div class="mars"></div>
      <div class="jupiter"></div>
      <div class="saturn"></div>
      <div class="uranus"></div>
      <div class="neptune"></div>
      <div class="pluto"></div>
      <div class="asteroids-belt"></div>
    </div>
    <!-- Hier komen de members -->
    <h3>Pinned</h3>
    <% squad.members.forEach(member => { %>
    <article>
      <a href="/members?member=<%= member.id %>">
        <% if (member.avatar) { %>
        <img
          src="<%= member.avatar %>"
          alt="De avatar van <%= member.name %>"
        />
        <% }else{ %>
        <img src="/astro-mona.jpeg" alt="Placeholder avatar" />
        <% } %>

        <h2><%= member.name %> <%= member.prefix %> <%= member.surname %></h2>
      </a>
    </article>
    <% }) %>
  </section>

  <img class="contributions" src="/Screenshot 2023-02-16 at 12.17.26.png" />
</main>

<%- include('./partials/foot') %>
